<h1>Listing theme_anecdotes</h1>

<table>
  <tr>
    <th>Theme</th>
    <th>Anecdote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @theme_anecdotes.each do |theme_anecdote| %>
  <tr>
    <td><%= theme_anecdote.theme_id %></td>
    <td><%= theme_anecdote.anecdote_id %></td>
    <td><%= link_to 'Show', theme_anecdote %></td>
    <td><%= link_to 'Edit', edit_theme_anecdote_path(theme_anecdote) %></td>
    <td><%= link_to 'Destroy', theme_anecdote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theme anecdote', new_theme_anecdote_path %>
