<h1>Listing anecdote_chapitres</h1>

<table>
  <tr>
    <th>Anecdote</th>
    <th>Chapitre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anecdote_chapitres.each do |anecdote_chapitre| %>
  <tr>
    <td><%= anecdote_chapitre.anecdote_id %></td>
    <td><%= anecdote_chapitre.chapitre_id %></td>
    <td><%= link_to 'Show', anecdote_chapitre %></td>
    <td><%= link_to 'Edit', edit_anecdote_chapitre_path(anecdote_chapitre) %></td>
    <td><%= link_to 'Destroy', anecdote_chapitre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anecdote chapitre', new_anecdote_chapitre_path %>
