<h1>Listing perso_scenes</h1>

<table>
  <tr>
    <th>Perso</th>
    <th>Scene</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perso_scenes.each do |perso_scene| %>
  <tr>
    <td><%= perso_scene.perso_id %></td>
    <td><%= perso_scene.scene_id %></td>
    <td><%= link_to 'Show', perso_scene %></td>
    <td><%= link_to 'Edit', edit_perso_scene_path(perso_scene) %></td>
    <td><%= link_to 'Destroy', perso_scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Perso scene', new_perso_scene_path %>
