<h1>Listing sujets</h1>

<table>
  <tr>
    <th>Nom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sujets.each do |sujet| %>
  <tr>
    <td><%= sujet.nom %></td>
    <td><%= link_to 'Show', sujet %></td>
    <td><%= link_to 'Edit', edit_sujet_path(sujet) %></td>
    <td><%= link_to 'Destroy', sujet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sujet', new_sujet_path %>
